:root {
  // background
  --background-color-light: wheat;
  --background-color-dark: rgb(0, 0, 0);

  // text

  --text-color-light: rgb(0, 0, 0);
  --text-color-light-secondary: #504e49;
  --text-color-dark: rgb(255, 255, 255);
  --text-color-dark-secondary: rgb(204, 200, 200);
  --dark-highlight: rgb(255, 255, 0);

  //svg
  --svg-color-dark: rgb(255, 255, 255);
  --svg-color-hovered-light: rgb(233, 233, 18, 0.8);
  --svg-color-hovered-dark: rgba(145, 170, 253, 0.8);

  // shadow
  --drop-shadow-light: drop-shadow(rgb(144, 150, 230) 0px 0px 0.4rem);
  --drop-shadow-dark: drop-shadow(rgb(189, 155, 3) 0px 0px 0.4rem);
}
