:root {
  color-scheme: light dark;
}

:root[data-theme='light'] {
  // background
  --background-color: #f5deb3;
  --hover-bf-color: #000000;

  // hero
  --hero-url: url('/assets/images//hero-light.webp');

  // text

  --text-color: #000000;
  --text-color-secondary: #504e49;
  --hover-text-color: #ffffff;
  --hover-color: #8d6603;
  --hover-contrast-color: #ffffff;

  // other
  --highlight: #8d6603;
  --gradient: linear-gradient(
    rgba(83, 156, 240, 0.4) 30%,
    rgba(194, 216, 94, 0.65) 85%
  );
}
