.btn {
  cursor: pointer;
  color: var(--text-color);
  text-transform: uppercase;
  text-decoration: none;
  border: 0.13em solid var(--hover-bf-color);
  padding: 0.6em 1.25em;
  font-size: 1.15rem;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  @media (hover: hover) and (pointer: fine) {
    overflow-x: hidden;
    &:hover {
      color: var(--hover-contrast-color);
    }

    &:hover::before {
      width: 160%;
    }
  }
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: var(--hover-bf-color);
    z-index: -1;
    transition: all 1s;
  }
  &__active {
    @extend .btn;
    $root: &;
    color: var(--hover-contrast-color);
    background-color: var(--hover-bf-color);
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: transparent !important;
      }

      ::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 0%;
        top: 0;
        left: -2.5em;
        transform: skewX(45deg);
        background-color: var(--hover-bf-color);
        z-index: -1;
        transition: all 1s;
      }
    }
  }
}
