@use '../../utilities/mixins' as u;
@use '../../base/' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  padding: 1em 0.5em 1em 0.5em;
  position: sticky;
  top: 0;
  z-index: 2;
  @include u.breakpoint-max('medium') {
    background: var(--background-color);
  }
  @include u.breakpoint-min('medium') {
    background: linear-gradient(var(--background-color) 0 70%, transparent);
  }

  @include u.breakpoint-min('large') {
    background: linear-gradient(var(--background-color) 0 70%, transparent);
  }

  .nav__list {
    @include u.breakpoint-min('medium') {
      list-style: none;

      display: flex;
      gap: 2em;
      max-width: 80%;
    }
    @include u.breakpoint-min('large') {
      gap: 3.5em;
      max-width: 80%;
    }
  }
}

.menu-wrapper {
  @extend .flex__a_center;
  gap: 1em;
  @include u.breakpoint-min('small') {
    gap: 2em;
  }
  @include u.breakpoint-min('medium') {
    gap: 3em;
  }
}

.theme-button {
  cursor: pointer;
  padding: 0.2em;
  color: var(--highlight);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--hover-color);
    }
  }
}
nav {
  @include u.breakpoint-max('medium') {
    display: grid;
    grid-auto-rows: max-content;
    gap: 1.5em;
  }
}
.nav-link {
  font-size: 1.2rem;
  padding: 0.6em 0.6em;
  &.active {
    color: var(--hover-color);
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--hover-color);
    }
  }
  &.active {
    color: var(--hover-color);
  }
  @include u.breakpoint-max('medium') {
    font-size: 2.4rem;
  }
  @include u.breakpoint-min('xlarge') {
    font-size: 1.5rem;
  }
}
