@use '../../utilities/mixins' as u;

.logo {
  $root: &;
  &__title {
    margin-bottom: 0.15em;
    font-weight: 600;
    font-size: 1.35rem;
    letter-spacing: 0.05em;
    line-height: 1;
    color: var(--text-color-light);
    @include u.breakpoint-max('large') {
      font-weight: 600;
      font-size: 1.25rem;
    }
    @include u.breakpoint-max('small') {
      font-weight: 600;
      font-size: 1.15rem;
    }
  }
  &__subtitle {
    margin: 0;
    letter-spacing: 0.2em;
    font-size: 0.9rem;

    line-height: 1;
    @include u.breakpoint-max('small') {
      font-weight: 600;
      letter-spacing: 0.1em;
      font-size: 0.8rem;
    }
  }
}
