.mobile-menu__container {
  overflow: hidden;
  position: fixed;
  z-index: 3;
  right: 0;
  bottom: 0;
  width: 100%;
  // backdrop-filter: blur(20px) contrast(80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  &::before {
    content: '';
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    margin: -20px;
  }
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.36em;
  height: 2em;
  margin: auto;
  justify-content: space-between;
}

.burger__line {
  $root: &;

  transition: 0.25s;
  width: 2em;
  height: 0.3rem;
}

.animate__line_one {
  transform: translateY(0.8em) rotate(45deg);
}

.animate__line_two {
  opacity: 0;
}

.animate__line_three {
  transform: translateY(-0.8em) rotate(-45deg);
}
