.mobile-menu__container {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(40px);
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.36em;
  height: 2em;
  margin: auto;
  justify-content: space-between;
}

.burger__line {
  $root: &;
  transition: 0.25s;
  width: 2em;
  height: 0.3rem;
}

.animate__line_one {
  transform: translateY(0.87em) rotate(45deg);
}

.animate__line_two {
  opacity: 0;
}

.animate__line_three {
  transform: translateY(-0.8em) rotate(-45deg);
}
