:root[data-theme='dark'] {
  // background
  --background-color: #000000;
  --hover-bf-color: #ffff00;

  // hero

  --hero-url: url('/assets/images//hero-dark.webp');

  // text
  --text-color: #ffffff;
  --text-color-secondary: #ccc8c8;
  --hover-color: #ffff00;
  --hover-text-color: #ffff00;
  --hover-contrast-color: #000000;

  // other

  --highlight: #ffff00;
  --gradient: linear-gradient(
    rgba(245, 246, 222, 0.22),
    rgba(245, 170, 253, 0.6)
  );
}
