@use '../utilities/' as u;

@font-face {
  font-family: 'Inter';
  src: url('src/assets/fonts/Inter-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  src: url('src/assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: bold;
}

html {
  box-sizing: border-box;
  background-color: var(--background-color-light);
  color: var(--text-color-light);

  a,
  a:visited,
  a:active {
    text-decoration: none;
    white-space: nowrap;
    color: var(--text-color-light);
    letter-spacing: 0.1rem;
  }
  #hero-image {
    @include u.breakpoint-max('medium') {
      background-image: url('src/assets/images//hero-light.png');
    }
    content: url(src/assets/images/hero-light.png);
    shape-outside: url(src/assets/images/hero-light.png);
  }
}

* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  cursor: pointer;
  display: flex;
  border: none;
  font-family: Inter, system-ui;
  background-color: transparent;
}
