html {
  box-sizing: border-box;
  background-color: white;
  color: black;
  // this will make sure that the font size of the website is matching 100%  of the browser
  //  and f you includes padding or/and margin will be included in the final width or height of the element.
  font-size: '100%';
}

html[data-theme='dark'] {
  background-color: black;
  color: white;
}

* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}
