@font-face {
  font-family: 'Inter';
  src: url('src/assets/fonts/Inter-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  src: url('src/assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: bold;
}

html {
  box-sizing: border-box;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  .burger__line {
    background-color: var(--text-color-light);
  }
  .logo__subtitle {
    color: var(--text-color-light-secondary);
  }
  a,
  a:visited,
  a:active {
    text-decoration: none;
    white-space: nowrap;
    color: var(--text-color-light);
    letter-spacing: 0.1rem;
  }
}

html[data-theme='dark'] {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);

  a,
  a:visited,
  a:active {
    text-decoration: none;
    color: var(--text-color-dark);
    white-space: nowrap;
  }
  .burger__line {
    background-color: var(--text-color-dark);
  }
  .logo__subtitle {
    color: var(--text-color-dark-secondary);
  }
}

* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}
